<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
	<connectionStrings>
		<add name="DefaultDbContext"
			 connectionString="Server=MXGDLM4AUTSQL01;Database=NetApp Model Line;User ID=AutomationUser;Password=Ent3rpr1s3T3am;Integrated Security=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
